<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNKjkS36TkWfMYJT9psMOo48ot9SEKmEE</string>
	<key>GCM_SENDER_ID</key>
	<string>553188510041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.contractor.TheContractorx</string>
	<key>PROJECT_ID</key>
	<string>thecontractor-b1d78</string>
	<key>STORAGE_BUCKET</key>
	<string>thecontractor-b1d78.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553188510041:ios:ecb187ac36885addcba448</string>
</dict>
</plist>